@using PubApp.Domain.Entities
@using PubApp.WebUI.HtmlHelpers
@model PubApp.WebUI.Models.PubsListViewModel
@{ ViewBag.Title = "Pubs";}

@foreach (var p in Model.Pubs)
{
    @Html.Partial("PubSummary",p)
}

<div class="btn-group pull-right">
    @Html.PageLinks(Model.PagingInfo, x => Url.Action("List", new { page = x }))
</div>
